body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.mainHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 30px;
}

.contactImage {
  display: flex;
  align-items: center;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
}

.mainFlex {
  display: flex;
  justify-content: space-between;
}

.MainTitle {
  display: flex;
  align-items: center;
}

.MainTitle p {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
  margin-left: 20px;
}

.addNewButton {
  background: #3faad7;
  padding: 15px 72px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.mainContainer {
  width: 30%;
  margin-top: 100px;
}

.mainContainer2 {
  width: 1440px;
  margin: auto;
  padding: 40px 30px;
}

.contactImage img {
  margin-right: 20px;
  margin-top: 5px;
}
